body{
    background-color: rgb(157, 44, 44);
    text-align: center;
}    
.cartão{
    width: 50%;
    background-color: black;
    margin:auto;
    border-radius: 100px;
    border-style: groove;


}
img{
    width: 752px;
    
}
p,h1,h2{    